- name: Update APT cache
  apt:
    update_cache: yes

- name: Install Unzip from APT
  apt:
    name: unzip
    state: present

- name: Check if artifactory.zip file exists on host machine
  stat:
    path: "{{ role_path }}/files/artifactory.zip"
  register: artifactory_zip

- name: Copy Artifactory ZIP file from host
  copy: 
    src: "{{ role_path }}/files/artifactory.zip"
    dest: /home/vagrant
  when: artifactory_zip.stat.exists

- name: Extract local Artifactory file copied from host
  unarchive:
    src: artifactory.zip
    dest: /home/vagrant
  when: artifactory_zip.stat.exists

- name: Download and extract Artifactory
  unarchive:
    src: https://bintray.com/jfrog/artifactory/download_file?file_path=jfrog-artifactory-oss-6.10.3.zip
    dest: /home/vagrant
    remote_src: yes
  when: artifactory_zip.stat.exists == False

- name: Start Artifactory
  shell: nohup /home/vagrant/artifactory-oss-6.10.3/bin/artifactory.sh &

- name: Wait Artifactory to be available
  wait_for:
    port: 8081
    delay: 2
